@use '../../styles/variables' as *;

.home {
  margin: 2rem auto;
  padding: 1rem;
  font-size: 1.1rem;
  text-align: center;

  &__title{
    font-size: 3rem;
    padding: 20px;
    color: $color-grey;
    font-family: 'Square Peg', cursive;
  }
}

